.back-bar{
    text-align:center;
    background-color:gray;
    position:fixed;
    top: 0;
    width: 101%;
    z-index:50;
    margin-top:0;
    margin-left:-10px;
    text-decoration: none;
    color:black;
    font-size:25px;
}

body{
    background-color:black;
}

.project{
    width:85%;
    margin:auto;
    padding-top:50px;
}

.title{
    background-color: grey;
    width:100%;
    margin:auto;
    text-align:center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size:40px;
    padding-bottom:10px;
}

.description{
    width:100%;
    margin:auto;
    background-color:dimgray;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.description p{
    width:95%;
    margin:auto;
    font-size:25px;
    padding:10px;
}

.img{
    width:60%;
    margin:auto;
    padding-top:10px;
}

@media screen and (orientation: portrait) {
    .back-bar{
        font-size:50px;
    }

    .project{
        width:100%;
    }
}