.back-bar{
    text-align:center;
    background-color:gray;
    position:fixed;
    top: 0;
    width: 101%;
    z-index:50;
    margin-top:0;
    margin-left:-10px;
    text-decoration: none;
    color:black;
    font-size:25px;
}

@media screen and (orientation: portrait) {
    .back-bar{
        font-size:50px;
    }
}